& {
  width: 750px;
  height: 1160px;
  zoom: .5;
  margin-top: 10px;
  //background-color: #00b3ee;
  overflow: auto;
  //outline: dashed 1px indianred;
  .lib-pc-phone-lib-phone {
    height: 1160px;
  }
  .lib-pc-phone-lib-phone .phone-content {
    height: 900px;
  }
}
