& {
    padding: 0 24px;
    & > .title {
        position: relative;
        height: 110px;
        box-sizing: border-box;
        padding: 10px 0 20px 0;
        font-size: 28px;
        box-align: center;
        -webkit-box-align: center;
        display: -webkit-box;
        display: box;
        .text {
            width: 0;
            line-height: 32px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-flex:1;
        }
        .line {
            position: absolute;
            top: 10px;
            left: -24px;
            height: 60px;
            border: solid 6px #ff5460;
        }
        .more {
            text-align: right;
            width: 80px;
            a {
                color: #abaeb2;
                padding: 20px;
                padding-right: 0;
            }
        }
    }
    .item {
        // border-bottom: solid 1px #e1e3e6;

    }
    .wraper {
        display: box;
        display: -webkit-box;
        border-bottom: solid 1px #e1e3e6;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .circle-wraper {
        .item {
            margin-right: 50px;
            padding-bottom: 26px;
            .pic {
                width: 100px;
                height: 100px;
                border-radius: 50px;
            }
            .desc {
                .title {
                    font-size: 24px;
                    line-height: 30px;
                    width: 72px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                margin-top: 16px;
                display: box;
                display: -webkit-box;
            }
            .rank-icon {
                width: 22px;
                height: 30px;
                margin-right: 8px;
            }
            .rank-num {
                height:22px;
                line-height: 22px;
                border-radius: 11px;
                text-align: center;
                background-color: #e1e3e6;
                color: #fff;
            }
        }
    }
    .square-wraper {
        .item {
            width: 126px;
            margin-right: 16px;
            padding-bottom: 24px;
            .desc {
                text-align: center;
                line-height: 24px;
                font-size: 24px;
                margin-top: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .desc-sub-title {
                text-align: center;
                font-size: 24px;
                margin-top: 12px;
                color: #ff5460;
            }
        }
        .pic {
            position: relative;
            width: 126px;
            height: 170px;
            .rank {
                position: absolute;
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                font-size: 20px;
                font-family: 'fzlth';
                text-align: center;
                &.num-1 {
                background-color: #ff5460;
                }
                &.num-2 {
                    background-color: #fd915c;
                }
                &.num-3 {
                    background-color: #ff5460;
                }
                &.num-gt-4 {
                    background-color: #c8cacc;
                }
            }
        }
    }
}
