& {
    height:50px;
    width:100%;
    background-color:#3c8dbc;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    clear: both;
    .logo_title {
      font-size: 22px;
      width: 0;
      flex: 3;
      text-align: left;
    }
    .btn-entrance {
      width: 0;
      flex: 1;
    }
}