& {
    .carousel {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        user-select: none;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
        text-align: center;

        &.single-pic .dot-wrapper {
            display: none;
        }

        &.desc-top .desc {
            top: 0;
            height: 76px;
            line-height: 76px;
            color: #000;
        }

        &.desc-top .item-wrapper img {
            margin-top: 76px;
        }

        &.desc-bottom {
            .dot-wrapper {
                bottom: 76px;
            }

            .desc {
                bottom: 0;
                height: 76px;
                color: #000;
                line-height: 76px;
            }
        }
    }

    .carousel-list {
        transform: translate3d(0,0,0);
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .carousel-track {
        overflow: hidden;
        transition: transform 500ms ease;
    }

    .dot-wrapper {
        position: absolute;
        bottom: 0;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 24px;

        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 2px solid rgba(122, 124, 128, 0.7);
            background-color: transparent;
            border-radius: 50%;
            margin-left: 10px;

            &.active {
                border-color: #fff;
                background: #fff;
            }
        }
    }

    .carousel-item {
        float: left;
        min-height: 1px;
        text-align: center;
    }

    .carousel-item .item-wrapper {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 352px;
        }
    }

    .carousel-item .desc {
        display: flex;
        position: absolute;
        left: 24px;
        bottom: 24px;
        height: 36px;
        font-size: 36px;
        color: #fff;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}
